body {
    background-image: url("resources/backgroundMobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header{
  top: 0;
}

header, footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 5em;
  background-color: white;
}
footer {
  height: 5%;
  bottom: 0px;
  margin-bottom: 0px;
}

#logo {
  height: 100%
}

nav{
  display: none;
}

/* breakpoint for desktop */
@media screen and (min-width: 910px) {
nav {
  display: inline;
}

nav ul {
  min-width: 860px;
  padding-left: 0;
}

nav ul li {
  display: inline;
  margin-left: 0.5em;
}

}

/* breakpoint for narrow desktop */
@media screen and (min-width: 500px) {

body {
    background-image: url("resources/backgroundDesktop.jpg");
}

nav ul li {
  display: inline;
  margin-left: 0.5em;
}



a {
  color: gray;
  text-decoration: none; /* no underline */
  border-bottom: 0.5px solid gray;
  border-top: 0.5px solid gray;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #29b6f6;
}

}
