body {
    background-image: url("resources/backgroundMobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header{
  top: 0;
}

header, footer {
  /* make contents center aligned */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* set dimensions */
  position: fixed;
  width: 100%;
  height: 5em;
  background-color: white;
}

/* set dimension and location */
footer {
  height: 5%;
  bottom: 0px;
  margin-bottom: 0px;
}

#bannerLogo {
  height: 100% /* maximize logo size to banner height */
}

/* hide nav on small displays */
nav{
  display: none;
}

/* customize nav menu boxes */
header a {
  color: gray;
  text-decoration: none; /* no underline */

  border-bottom: 0.5px solid gray; /* lines above and below nav boxes */
  border-top: 0.5px solid gray;

  padding: 0.5em 1em 0.5em 1em; /* spacing between lines and nav boxes */
  font-family: 'Montserrat', sans-serif;
}

header a:hover {
  color: #29b6f6;
}

/* stops nav bar from breaking into a new row when screen gets narrow */
nav ul {
  min-width: 860px;
  padding-left: 0;
}

/* make nav bar horizontal and specify spacing between nav boxes */
nav ul li {
  display: inline;
  margin-left: 0.5em;
}

/********************* breakpoint for desktop ***********************/
@media screen and (min-width: 910px) {

/* make nav bar appear */
nav {
  display: inline;
}

}

/***************** breakpoint for narrow desktop ******************/
@media screen and (min-width: 500px) {

/* get widescreen background image */
body {
    background-image: url("resources/backgroundDesktop.jpg");
}

}
