
/* breakpoint for narrow desktop */
@media screen and (min-width: 879px) {
}

/* breakpoint for desktop */
@media screen and (min-width: 1070px) {

  #mainP {
    width: 45%
  }

  #mainSection {
    width: 70%;
  }

  #mainSection section {
    flex-direction: row;
  }

  article {
    height: inherit;
    width: 50%;

  }
}
